{
  "parser": "babel-eslint",
   "env": {
      "browser": true
    },
    "rules": {
    	"strict": 0,
    	"no-multi-spaces": false,
    	"quotes": "single",
		  "no-cond-assign": false,
      "no-underscore-dangle": false,
      "no-use-before-define": false
    }
}