body, html {
  background-color: #333;
  margin: 0px;
  color: #fff;
}

#sort-alpha {
  position: absolute;
  left: 20%;
  bottom: 10px;
  width: 20%;
}

#sort-frequency {
  position: absolute;
  left: 40%;
  bottom: 10px;
  width: 20%;
}

#sort-kinda-random {
  position: absolute;
  left: 60%;
  bottom: 10px;
  width: 20%;
}

#info {
  position: absolute;
  left: 9px;
  top: 9px;
  z-index: 1;
}

#info h4 {
  margin: 1px;
}

#loading {
  color: #fff;
  width: 100px;
  height: 100px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#link {
  position: absolute;
  bottom: 10px;
  left: 0px;
}