body, html {
  background-color: #333;
  margin: 0px;
  color: #fff;
}

#sort-alpha {
  position: absolute;
  left: 20%;
  bottom: 10px;
  width: 20%;
}

#sort-frequency {
  position: absolute;
  left: 40%;
  bottom: 10px;
  width: 20%;
}

#sort-kinda-random {
  position: absolute;
  left: 60%;
  bottom: 10px;
  width: 20%;
}

#demos-home {
  color: #fff;
  position: absolute;
  left: 80%;
  bottom: 10px;
  width: 20%;
}

#info {
  position: absolute;
  left: 9px;
  top: 9px;
  z-index: 1;
}

#info h4 {
  margin: 1px;
}

#loading {
  color: #fff;
  width: 100px;
  height: 100px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#link {
  position: absolute;
  bottom: 10px;
  left: 0px;
}

@media (max-width: 767px) {
  #icons {
    position:absolute;
    width:200px;
    height:50px;
    bottom:60px;
    right:25%;
    left:50%;
    margin-left:-80px;
  }
}

@media (min-width: 768px) {
  #icons {
    position: absolute;
    bottom: 20px;
    left: 0px;
  }
}