body, html {
  background-color: #999;
  margin: 0px;
  font-family: helvetica, arial;
  color: #333;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#info {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 15px;
  left: 9px;
  top: 9px;
  z-index: 1;
}

#info h3 {
  margin: 1px;
}

#loading {
  color: black;
  width: 100px;
  height: 100px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#link {
  position: absolute;
  bottom: 10px;
  left: 0px;
}