body, html {
  margin: 0px;
  font-family: helvetica, arial;
  color: #d94801;
}

#loading {
  width: 100px;
  height: 100px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}