body, html {
  margin: 0px;
  font-family: helvetica, arial;
  color: #805C15;
}

#loading {
  width: 100px;
  height: 100px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#link {
  position: absolute;
  bottom: 10px;
  left: 0px;
}